Repository sony/nnabla, pull requests merged in 2019-08, with the labels that each got.

#498 Feature/20190730 correct spelling errors
  doc/build/build.md
  include/nbla/memory/allocator.hpp
  include/nbla/memory/caching_allocator_with_buckets.hpp
  include/nbla/solver.hpp
  python/src/nnabla/experimental/graph_converters/fixed_point_weight.py
  python/src/nnabla/experimental/graph_converters/sequential.py
  python/src/nnabla/experimental/parametric_function_class/convolution.py
  python/src/nnabla/models/imagenet/base.py
  python/src/nnabla/models/object_detection/base.py
  python/src/nnabla/models/object_detection/utils.py
  python/src/nnabla/parameter.py
  python/src/nnabla/parametric_functions.py
  python/src/nnabla/utils/converter/onnx/importer.py
  python/src/nnabla/utils/create_cache.py
Labels: release-note-ignore

#503 Update nnabla converter support status doc.
  doc/index.rst
  doc/python/file_format_converter/nnabla-c-runtime/operator_coverage.rst
  doc/python/file_format_converter/onnx/operator_coverage.rst
  doc/python/file_format_converter/tensorflow/operator_coverage.rst
  doc/support_status.rst
Labels: release-note-doc

#504 add dicom support by py2 subprocess
  python/src/nnabla/utils/callback.py
  python/src/nnabla/utils/data_source_loader.py
  python/src/nnabla/utils/image_utils/backend_manager.py
  python/src/nnabla/utils/image_utils/dicom_utils.py
  python/test/utils/test_image_utils.py
Labels: release-note-utility

#505 Update installation guide
  README.md
  doc/python/pip_installation_cuda.rst
Labels: release-note-doc

#506 Fix unexpected Reshape operations
  python/src/nnabla/utils/converter/onnx/exporter.py
Labels: release-note-format-converter

#507 Generate data for parameter variables.
  python/src/nnabla/utils/converter/nnabla/importer.py
Labels: release-note-format-converter
