Repository sony/nnabla, pull requests merged in 2020-12, with the labels that each got.

#754 Fix missing parameters from nnp to nnb.
  python/src/nnabla/utils/converter/nnablart/resolver.py
Labels: release-note-format-converter

#755 update cuda cudnn table
  doc/python/pip_installation_cuda.rst
Labels: release-note-doc

#756 correct nnabla-ext-cuda package name in installation
  doc/python/pip_installation_cuda.rst
Labels: release-note-ignore

#757 Correct the copy index generation when unfolding.
  python/test/function/test_tile.py
  src/nbla/function/generic/tile.cpp
Labels: release-note-bugfix

#759 Adjust atol values for rnn/gru/lstm
  python/test/function/test_gru.py
  python/test/function/test_lstm.py
  python/test/function/test_rnn.py
Labels: release-note-utility

#760 Fix bugs in clear buffer during forward propagation
  include/nbla/computation_graph/variable.hpp
  python/src/nnabla/_nd_array.pyx
  python/test/test_graph.py
  src/nbla/computation_graph/variable.cpp
  src/nbla/synced_array.cpp
Labels: release-note-bugfix

#762 improve optimize pb by add yacc rules.
  python/src/nnabla/utils/converter/tensorflow/refine_graph.py
  python/src/nnabla/utils/converter/tensorflow/refine_parser.py
Labels: release-note-format-converter

#764 Update nnabla converter document for release nnabla
  doc/python/file_format_converter/Function-Level_Support_Status.rst
  doc/python/file_format_converter/Model_Support_Status.rst
Labels: release-note-doc

#765 Fix GRU repeated parameters.
  python/src/nnabla/utils/converter/nnablart/resolver.py
Labels: release-note-format-converter

#763 Separate ONNX converter from nnabla.
  python/setup.py
  python/src/nnabla/utils/cli/convert.py
  python/src/nnabla/utils/cli/optimize_pb_model.py
  python/src/nnabla/utils/converter/commands.py
  python/src/nnabla/utils/converter/setup.py
  python/src/nnabla/utils/converter/supported_info.py
Labels: release-note-format-converter

#769 Give correct names to parameters `conv_cos` and `conv_sin`
  python/src/nnabla/functions.py
Labels: release-note-bugfix
