Repository sony/nnabla, pull requests merged in 2020-01, with the labels that each got.

#569 Add load and save parameters
  examples/cpp/mnist_collection/CMakeLists.txt
  examples/cpp/mnist_collection/dcgan_training.hpp
  examples/cpp/mnist_collection/lenet_training.hpp
  examples/cpp/mnist_collection/resnet_training.hpp
  examples/cpp/mnist_collection/siamese_training.hpp
  examples/cpp/mnist_collection/vae_training.hpp
  examples/cpp/mnist_collection/vat_training.hpp
  include/nbla_utils/parameters.hpp
  src/nbla/parametric_functions.cpp
  src/nbla/test/test_parameter_directory.cpp
  src/nbla_utils/CMakeLists.txt
  src/nbla_utils/parameters.cpp
  src/nbla_utils/test/test_load_save_parameters.cpp
Labels: release-note-cpp-api

#570 Improve ONNX Converter for TF Converter
  python/src/nnabla/utils/converter/onnx/exporter.py
  python/src/nnabla/utils/converter/onnx/importer.py
Labels: release-note-format-converter

#571 Update NNabla Converter Support Status Doc.
  doc/python/file_format_converter/Function-Level_Support_Status.rst
  doc/python/file_format_converter/Model_Support_Status.rst
  doc/python/file_format_converter/file_format_converter.rst
Labels: release-note-doc

#567 Support any dimensional array as an input of pooling functions
  python/test/function/test_average_pooling.py
  python/test/function/test_max_pooling.py
  src/nbla/function/utils/base_pooling.cpp
Labels: release-note-op-layer

#568 Remove python2 dependencies.
  CMakeLists.txt
  build-tools/make/build.mk
  build-tools/make/options.mk
  build-tools/msvc/test.bat
  build-tools/msvc/tools/build_protobuf.bat
  build-tools/msvc/tools/default_folders.bat
  doc/build/build_cpp_utils_windows.md
  doc/build/build_macos.md
  doc/build/build_windows.md
  doc/build/quick_build_tools.md
  doc/contributing/add_function.md
  doc/python.rst
  doc/python/install_on_linux.rst
  doc/python/install_on_macos.rst
  doc/python/install_on_windows.rst
  doc/python/pip_installation_cuda.rst
  docker/README.md
  docker/development/Dockerfile.build
  docker/development/Dockerfile.build-armhf
  docker/development/Dockerfile.build-ppc64le
  docker/development/Dockerfile.document
  docker/development/Dockerfile.onnx-test
  docker/development/Dockerfile.onnx-test-armhf
  docker/development/Dockerfile.onnx-test-ppc64le
  docker/development/Dockerfile.tf-test
  docker/py27/Dockerfile
  python/requirements.txt
  python/setup.py
  python/setup_requirements.txt
  python/src/nnabla/config.py
  python/test/function/test_split.py
Labels: release-note-build

#573 Implementation of AlexNet model API
  python/src/nnabla/models/imagenet/__init__.py
  python/src/nnabla/models/imagenet/alexnet.py
  python/test/models/test_imagenet.py
Labels: release-note-nnabla-models

#575 Remove python2 and spdlog dependency.
  CMakeLists.txt
  build-tools/code_formatter/auto_format_command.py
  build-tools/code_formatter/file_formatter.py
  build-tools/make/build-with-docker.mk
  build-tools/make/build.mk
  docker/development/Dockerfile.auto-format
  include/nbla/logger.hpp
  src/nbla/logger.cpp
  src/nbla/test/test_logger.cpp
  third_party/CMakeLists.txt
Labels: release-note-build

#578 Adaptive Separable Convolution
  build-tools/code_generator/api_levels.yaml
  build-tools/code_generator/function_types.yaml
  build-tools/code_generator/functions.yaml
  doc/python/api/function.rst
  include/nbla/function/adaptive_separable_convolution.hpp
  python/src/nnabla/backward_function/adaptive_separable_convolution.py
  python/src/nnabla/backward_function/batch_det.py
  python/src/nnabla/backward_function/warp_by_flow.py
  python/test/function/test_adaptive_separable_convolution.py
  src/nbla/function/generic/adaptive_separable_convolution.cpp
Labels: release-note-op-layer
