Repository sony/nnabla, pull requests merged in 2021-10, with the labels that each got.

#970 replace centos with ubuntu and use PEP600 tag
  build-tools/auditwheel-nnabla
  doc/python/install_on_linux.rst
  docker/development/Dockerfile.build
  docker/development/Dockerfile.build-ppc64le
Labels: release-note-build

#971 Correct the number of elements and byte size display in debug message
  src/nbla/synced_array.cpp
Labels: release-note-bugfix

#976 Fast reduction
  python/test/function/test_reduction.py
Labels: release-note-ignore

#977 add a link to nnabla.org installation page.
  doc/locale/ja/LC_MESSAGES/python/installation.po
  doc/python/installation.rst
Labels: release-note-doc
