Repository sony/nnabla, pull requests merged in 2022-11, with the labels that each got.

#1125 Fix the timing of fill and zero evaluations in narrowed array
  python/test/test_nd_array.py
  src/nbla/synced_array.cpp
Labels: release-note-bugfix

#1129 upgrade onnx to 1.10.0
  python/src/nnabla/utils/converter/setup.py
Labels: release-note-format-converter

#1130 Fix save function for the parameters created by narrow
  python/src/nnabla/utils/get_file_handle.py
Labels: release-note-bugfix

#1131 Loose converter python packages requirements
  python/src/nnabla/utils/converter/setup.py
Labels: release-note-format-converter

#1132 change pip installation method
  docker/release/Dockerfile
  docker/release/Dockerfile.py39-aarch64
Labels: release-note-build

#1135 Avoid net['names'] dict is overwrite
  python/src/nnabla/utils/save.py
Labels: release-note-bugfix

#1136 update document for watch dog timeout setting
  doc/python/tutorial/multi_device_training.rst
Labels: release-note-doc

#1137 Change python version to 3.9.14 in aarch64 environment
  docker/development/Dockerfile.build-aarch64
  docker/development/Dockerfile.nnabla-test-aarch64
  docker/release/Dockerfile.py39-aarch64
Labels: release-note-build
