Repository sony/nnabla, pull requests merged in 2023-01, with the labels that each got.

#1151 clean tmp directory in docker image
  docker/development/Dockerfile.build-aarch64
  docker/development/Dockerfile.nnabla-test-aarch64
  docker/release/Dockerfile
  docker/release/Dockerfile.py39-aarch64
Labels: release-note-ignore

#1152 update nnabla format
  python/src/nnabla/dtypes.py
  python/src/nnabla/grad.py
  python/src/nnabla/utils/cli/train.py
  python/test/function/refs.py
  python/test/function/test_pad.py
  python/test/utils/test_sliced_data_iterator.py
Labels: release-note-ignore

#1153 support larger than 2GB file by refining the use of hdf5
  build-tools/cmake/Utils.cmake
  build-tools/make/build.mk
  build-tools/make/options.mk
  build-tools/make/test_nbla_utils.sh
  build-tools/msvc/build_cpplib.bat
  build-tools/msvc/tools/build_hdf5.bat
  python/src/nnabla/utils/get_file_handle.py
  src/nbla_cli/CMakeLists.txt
  src/nbla_utils/CMakeLists.txt
  src/nbla_utils/nnp_impl.cpp
  src/nbla_utils/nnp_network_expander.cpp
  src/nbla_utils/parameters.cpp
  third_party/CMakeLists.txt
Labels: release-note-utility

#1154 add a new subcommand for optimization of nnp model in proto graph
  python/requirements.txt
  python/setup.py
  python/src/nnabla/core/graph_def.py
  python/src/nnabla/utils/cli/cli.py
  python/src/nnabla/utils/cli/optimize_model.py
  python/src/nnabla/utils/converter/nnabla/opt_graph.py
  python/src/nnabla/utils/converter/nnabla/opt_parser.py
  python/src/nnabla/utils/converter/nnabla/optimizer.py
  python/src/nnabla/utils/converter/setup.py
  python/test/utils/conversion/common.py
  python/test/utils/conversion/nnp_optimizer_test.py
  python/test/utils/conversion/nntxt.py
  python/test/utils/conversion/test_nnp_optimizer.py
  python/test/utils/conversion/test_nnp_to_nnp_with_version.py
Labels: release-note-format-converter

#1155 Update default python version to 3.8 in documents and makefiles
  build-tools/msvc/build_cpplib.bat
  build-tools/msvc/build_wheel.bat
  build-tools/msvc/tools/python_env.bat
  docker/development/Dockerfile.build
  docker/development/Dockerfile.document
  python/setup.py
  python/src/nnabla/utils/converter/setup.py
Labels: release-note-build

#1156 adjust save/load function for optimizer state.
  python/src/nnabla/utils/get_file_handle.py
  python/src/nnabla/utils/load.py
  python/src/nnabla/utils/save.py
  python/test/core/test_load.py
Labels: release-note-utility

#1157 Update nnabla convert doc at 20221210
  doc/python/file_format_converter/Function-Level_Support_Status.rst
  doc/python/file_format_converter/Model_Support_Status.rst
Labels: release-note-doc

#1158 static linking of python library
  docker/development/Dockerfile.build
  docker/development/Dockerfile.build-aarch64
  docker/development/Dockerfile.build-ppc64le
  docker/development/Dockerfile.document
  docker/development/Dockerfile.nnabla-test
  docker/development/Dockerfile.nnabla-test-aarch64
  docker/development/Dockerfile.nnabla-test-ppc64le
  docker/release/Dockerfile
  docker/release/Dockerfile.py39-aarch64
  docker/runtime/Dockerfile
Labels: release-note-ignore

#1159 Add NonZero, NonMaxSuppression, OneHot, and Resize support to ONNX importer
  build-tools/code_generator/api_levels.yaml
  build-tools/code_generator/function_types.yaml
  build-tools/code_generator/functions.yaml
  include/nbla/function/nonzero.hpp
  include/nbla/function/onnx_non_max_suppression.hpp
  include/nbla/function/onnx_resize.hpp
  python/src/nnabla/backward_function/nonzero.py
  python/src/nnabla/backward_function/onnx_non_max_suppression.py
  python/src/nnabla/backward_function/onnx_resize.py
  python/src/nnabla/utils/converter/onnx/importer.py
  python/test/function/test_nonzero.py
  python/test/function/test_one_hot.py
  python/test/function/test_onnx_non_max_suppression.py
  python/test/function/test_onnx_resize.py
  src/nbla/function/generic/nonzero.cpp
  src/nbla/function/generic/one_hot.cpp
  src/nbla/function/generic/onnx_non_max_suppression.cpp
  src/nbla/function/generic/onnx_resize.cpp
Labels: release-note-format-converter

#1160 enable shuffle of slice data source at the end of epoch
  python/src/nnabla/utils/data_iterator.py
  python/src/nnabla/utils/data_source.py
  python/src/nnabla/utils/data_source_implements.py
  python/test/utils/test_sliced_data_iterator.py
Labels: release-note-utility

#1161 Suppress unnecessary error msg for the deallocation of a child array
  src/nbla/computation_graph/variable.cpp
Labels: release-note-bugfix

#1162 update linux documents
  doc/build/build.md
  doc/build/build_cpp_utils.md
  doc/build/quick_build_tools.md
  doc/python/install_on_linux.rst
  doc/python/pip_installation_cuda.rst
  examples/cpp/mnist_collection/README.md
  examples/cpp/mnist_training/README.md
  examples/cpp/nbla_train/README.md
  examples/cpp/nbla_train/create_initialized_model.py
  examples/data_iterator/README.md
Labels: release-note-doc
