Repository sony/nnabla, pull requests merged in 2023-03, with the labels that each got.

#1171 fix stft test error with fixing librosa version
  build-tools/msvc/tools/python_env.bat
  python/test_requirements.txt
Labels: release-note-build

#1172 change protobuf3.19.4 to protobuf3.19.6
  doc/build/build.md
  doc/build/build_android.md
  doc/build/build_cpp_utils.md
  docker/development/Dockerfile.android
  docker/development/Dockerfile.build
  docker/development/Dockerfile.build-aarch64
  docker/development/Dockerfile.build-ppc64le
  docker/development/Dockerfile.nnabla-test
  docker/development/Dockerfile.nnabla-test-aarch64
  docker/development/Dockerfile.nnabla-test-ppc64le
  python/requirements.txt
  python/setup.py
Labels: release-note-build

#1173 Enable FFT/IFFT pytests run on win32 when CUDA>=11.4
  python/test/function/test_fft.py
  python/test/function/test_ifft.py
Labels: release-note-build

#1174 Add 8 operators to ONNX importer
  python/src/nnabla/utils/converter/onnx/importer.py
Labels: release-note-format-converter

#1175 change aarch64 docker image base
  docker/development/Dockerfile.build-aarch64
  docker/development/Dockerfile.nnabla-test-aarch64
  docker/release/Dockerfile.py39-aarch64
Labels: release-note-build

#1177 Use user's pip cache in build-with-docker
  .gitignore
  build-tools/make/options.mk
Labels: release-note-build

#1178 Use vs2019 default path
  build-tools/msvc/build_cpplib.bat
  build-tools/msvc/tools/env.bat
Labels: release-note-build

#1179 update windows documents
  doc/build/build_cpp_utils_windows.md
  doc/build/build_windows.md
  doc/build/quick_build_tools.md
  doc/python/install_on_windows.rst
  doc/python/pip_installation_cuda.rst
Labels: release-note-doc

#1184 Lion optimizer
  build-tools/code_generator/solver_types.yaml
  build-tools/code_generator/solvers.yaml
  include/nbla/solver/lion.hpp
  python/test/solver/solver_test_utils.py
  python/test/solver/test_lion.py
  src/nbla/solver/generic/lion.cpp
Labels: release-note-op-layer

#1180 Update nnabla-doc build requirements.txt
  doc/requirements.txt
  doc/requirements.txt.tmpl
Labels: release-note-doc

#1182 prune the constant branches
  python/src/nnabla/core/graph_optimizer.py
  python/src/nnabla/utils/converter/tensorflow/refine_graph.py
  python/src/nnabla/utils/converter/tensorflow/refine_parser.py
  python/src/nnabla/utils/converter/tflite/exporter.py
  python/src/nnabla/utils/converter/tflite/quantized_converter.py
Labels: release-note-format-converter

#1183 Fixed quick build document
  doc/build/build_windows.md
  doc/build/quick_build_tools.md
Labels: release-note-ignore

#1185 Add dllexport/import to create_Callback
  include/nbla/function/callback.hpp
  python/src/nnabla/function.pxd.tmpl
  src/nbla/function/nontemplate/callback.cpp
Labels: release-note-bugfix

#1186 Enlarge interpolate test rtol
  python/test/function/test_interpolate.py
Labels: release-note-bugfix
